/* Main Content */
.main-content {
  margin-left: 240px; /* Pushes the content to the right */
  padding: 2rem;
  width: calc(100% - 240px);
  height: 100vh;
  overflow-y: auto; /* Enables scrolling only for the content */
  background-color: #f9f9f9;
}